cogs/currencyCommands/__pycache__
cogs/funCommands/__pycache__
cogs/gameCommands/__pycache__
cogs/memberCommands/__pycache__
cogs/miscCommands/__pycache__
cogs/modCommands/__pycache__
cogs/textCommands/__pycache__
cogs/utilityCommands/__pycache__
cogs/utilityCommands/all_blocks